<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="led.ru.updater">

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application  android:allowBackup="true" android:label="@string/app_name">

    <service
        android:name=".UpdateService"
        android:exported="true"
        android:enabled="true"></service>

    <receiver
        android:name=".UpdateReceiver"
        android:enabled="true"
        android:exported="true">

        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
        <intent-filter>
            <action android:name="ru.led.updater.UPDATE"></action>
        </intent-filter>
<!--
        <intent-filter>
            <action android:name="android.intent.action.PACKAGE_REPLACED" />
            <data
                android:path="ru.led.updater"
                android:scheme="package" />
        </intent-filter> -->
    </receiver>

</application>
</manifest>